<div class="section">

  <h2>chọn truyện muốn edit</h2>
  <ol>
    <% @truyens.each do |t| %>
    <li>
    	<a href="<%=edittruyen_path(t)%>" class="btn btn-default"><%= t.name_vn %></a>
    	<%= link_to 'DELETE', xoatruyen_path(t), method: :delete ,class: "btn btn-default"%>
    	</li>
    <%end%>
  </ol>
</div>