<!DOCTYPE html>
<html>
<head>
  <title>FAM-Truyện Song Ngữ</title>
  <link rel="icon" type="image/gif" href="http://www.freeiconspng.com/uploads/book-stack-icon--icon-search-engine-16.png" />
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

  

  <%= yield %>
      
</html>
